:root {
    --primary-color: #2563EB;
    --secondary-color: #EBAD25;
    --light-gray: #F9FAFB;;
    --primary-color-dark:#1043b3;
    
    --black-shade: #414a4c;

    --gray-light:#f3f4f6;
    --gray: gray;
    --dark-gray: #374151;
    --gray-opacity: rgb(243, 244, 246, 0.5);


    --white: #ffffff;
    --off-white: #f7f7f7;
    --yankees-blue: #1d1a37;
    --vivid-cerulean: #00a3ff;
    --happy-blue: #2c82c9;
    --calm-green: #2cc990;
    --yellow: #eee657;
    --thai-curry: #fcb941;
    --burnt-red: #fc6042;
    --green: #07e307;
    --red: #de1010;
    --gray-status: #8a9c8a;
}