:root {
    --primary-color: #2563EB;
    --secondary-color: #EBAD25;
    --light-gray: #F9FAFB;;
    --primary-color-dark:#1043b3;
    --secondary-color-dark:#bc8a1d;
    --primary-color-light:#6691f1;
    --secondary-color-light:#f1c566;

    
    --black-shade: #414a4c;

    --clr-green: #16a34a;
    --green-dark:#15803d;
    --green-light: #90ee8a;

    --clr-yellow: #eab308;
    --yellow-dark: #a16207;
    --yellow-light: #fef08a;

    --clr-red: #dc2626;
    --red-dark: #b91c1c;
    --red-light: #ffcdce;

    --clr-blue: #60a5fa;
    --blue-dark: #1d4ed8;
    --blue-light: #bfdbfe;

    --gray-light:#f3f4f6;
    --clr-gray: gray;


    --gray-light:#f3f4f6;
    --gray: gray;
    --dark-gray: #374151;
    --gray-opacity: rgb(243, 244, 246, 0.5);


    --white: #ffffff;
    --off-white: #f7f7f7;
    --yankees-blue: #1d1a37;
    --vivid-cerulean: #00a3ff;
    --happy-blue: #2c82c9;
    --calm-green: #2cc990;
    --yellow: #eee657;
    --thai-curry: #fcb941;
    --burnt-red: #fc6042;
    --green: #07e307;
    --red: #de1010;
    --gray-status: #8a9c8a;
}

/* Resetting elements */
p
{
  margin: 0;
}



body {
  min-height: 100vh;
  font-family: var(--ff-serif)
}

img,
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}